In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('ufo-sightings/scrubbed.csv')
df.head()

/home/mpicco/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
df.loc[df['state']=='mt'].groupby(['shape']).agg({'datetime': 'count'}).rename(columns={'datetime': 'count'}).sort_values(by='count', ascending=False)

           count
shape
light        115
fireball      57
unknown       49
triangle      38
circle        33
disk          32
sphere        28
oval          28
other         27
formation     15
changing      12
flash         11
cigar         11
diamond       10
chevron        8
rectangle      5
egg            4
cylinder       3
teardrop       3
cross          2
cone           1

In [4]:
#Existen 963 ufos reportados con forma de chevron 
df.groupby(['shape']).agg({'datetime': 'count'}).rename(columns={'datetime': 'count'}).sort_values(by='count', ascending=False)

           count
shape
light      16565
triangle    7865
circle      7608
fireball    6208
other       5649
unknown     5584
sphere      5387
disk        5213
oval        3733
formation   2457
cigar       2057
changing    1962
flash       1328
rectangle   1297
cylinder    1283
diamond     1178
chevron      952
egg          759
teardrop     750
cone         316
cross        233
delta          7
round          2
crescent       2
pyramid        1
hexagon        1
flare          1
dome           1
changed        1

In [5]:
df.loc[df['country'] == 'us', :].groupby('state').agg({'datetime': 'count'}).rename(columns={'datetime': 'count'}).sort_values(by='count', ascending=False)

       count
state
ca      8912
wa      3966
fl      3835
tx      3447
ny      2980
il      2499
az      2414
pa      2366
oh      2275
mi      1836
or      1747
nc      1740
mo      1458
co      1413
in      1288
va      1273
ma      1256
nj      1255
ga      1255
wi      1232
tn      1119
mn      1012
sc      1003
ct       892
ky       855
md       837
nv       803
ok       724
nm       720
ia       678
al       642
ut       622
ks       613
ar       588
me       558
la       558
id       521
nh       486
mt       478
wv       448
ne       381
ms       375
ak       319
hi       262
vt       260
ri       228
sd       183
wy       175
de       166
nd       129
pr        25
dc         7

In [6]:
df.groupby('shape').agg({'datetime': 'count'}).rename(columns={'datetime': 'count'}).sort_values(by='count', ascending=False)

           count
shape
light      16565
triangle    7865
circle      7608
fireball    6208
other       5649
unknown     5584
sphere      5387
disk        5213
oval        3733
formation   2457
cigar       2057
changing    1962
flash       1328
rectangle   1297
cylinder    1283
diamond     1178
chevron      952
egg          759
teardrop     750
cone         316
cross        233
delta          7
round          2
crescent       2
pyramid        1
hexagon        1
flare          1
dome           1
changed        1

In [7]:
def correct_duration(x):
    return float(str(x).replace(' ', '').replace('`', '').strip())
df['duration (seconds)'] = df['duration (seconds)'].apply(correct_duration)

In [8]:
def correct_datetime(x):
    fecha, hora = x.split(' ')
    hora, minuto = hora.split(':')
    if hora == '24':
        hora = '00'
    return '{0} {1}:{2}'.format(fecha, hora, minuto)

df['datetime'] = df['datetime'].apply(correct_datetime)
df['datetime'] = pd.to_datetime(df['datetime'])

In [9]:
# El avistaje mas largo ocurrido en enero del 2005 ocurrió en la ciudad de Green Lake
df.loc[(df['datetime'].dt.month == 1) & (df['datetime'].dt.year == 2005)].sort_values(by="duration (seconds)", ascending=False).head(5)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
14876,2005-01-15 12:00:00,baker city,or,us,other,86400.0,everyday,Lessons learned,1/19/2005,44.7750000,-117.833333
11029,2005-01-01 03:00:00,ocean shores,wa,us,flash,14400.0,4hrs,thier were ligth flashing &#44moving in all di...,1/11/2005,46.9738889,-124.155000
14883,2005-01-15 19:30:00,ocala (n and s of),fl,us,triangle,12600.0,3.5 hours,Multiple types of objects in night sky of cent...,1/19/2005,29.1869444,-82.140278
14872,2005-01-15 03:20:00,atlanta,tx,us,other,7200.0,2 hours,STRANGE LIGHTNING,2/8/2005,33.1136111,-94.164167
16414,2005-01-19 18:30:00,jacksonville,fl,us,sphere,7200.0,2 hours,These are accounts of several personal UFO and...,5/15/2006,30.3319444,-81.655833

In [10]:
df.sort_values(by="duration (seconds)").head(5)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
4081,2008-10-23 04:45:00,remote,wy,NaN,flash,0.001,0.001sec,brilliant strobe light at 4am&#44 moving light...,1/10/2009,-46.163992,169.875050
70587,2002-08-30 13:45:00,kerry (republic of ireland),NaN,NaN,sphere,0.010,0.01secs,The object seemed to move at lightining speed,9/13/2002,52.1545,-9.566863
42378,1987-05-15 23:00:00,island lake,il,us,light,0.010,milliseconds,4 red laser like lines,1/12/2012,42.2761111,-88.191944
23754,1999-12-09 18:15:00,lyle,wa,us,fireball,0.010,millisecond,Incredible...full moon sized bright orange fir...,12/16/1999,45.6961111,-121.285000
56596,1974-07-15 22:00:00,bridgeview,il,us,triangle,0.010,milliseconds,Triangular streak SW to NE horizon to horizon ...,1/17/2004,41.7500000,-87.804167

In [11]:
#len(df.loc[(df['country'] == 'ca') & (df['datetime'].str.contains('2010'))])
len(df.loc[(df['country'] == 'ca') & ('2010-01-01' <= df['datetime']) & (df['datetime'] <= '2010-12-31')])

137

In [12]:
df.loc[(df['country'] == 'ca') & (df['shape'] == 'light')].sort_values(by='datetime', ascending=False)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
37665,2014-04-18 21:30:00,nanaimo (canada),bc,ca,light,30.0,30 seconds,3 white objects with no flashing lights travel...,4/24/2014,49.15,-123.916667
31800,2014-03-15 20:10:00,cobble hill (canada),bc,ca,light,120.0,2 minutes,3 coppery orange lights seen on Vancouver Isla...,3/18/2014,48.683333,-123.600000
23409,2014-01-27 06:30:00,windsor (canada),on,ca,light,120.0,few minutes&#44 i jumped on,Dozens of white lights moving across the sky s...,1/30/2014,45.583333,-72.000000
21813,2013-12-31 23:00:00,north bay (canada),on,ca,light,300.0,5 minutes,Orange lights seend by 3 people Over North Bay...,1/10/2014,46.3,-79.450000
21116,2013-12-28 23:00:00,lafleche (canada),sk,ca,light,60.0,1 minutes,2 white light 40 miles away apro 1 mile apart...,2/27/2014,49.7,-106.566667
18613,2013-12-16 18:45:00,lethbridge (canada),ab,ca,light,60.0,30-60 seconds,Light in the sky passing over head&#44 then fa...,12/23/2013,48.366667,-53.866667
17837,2013-12-12 22:30:00,new glasgow (canada),ns,ca,light,3.0,3 seconds,Four Fast Walkers caught on NightVision.,12/23/2013,45.583333,-62.633333
17615,2013-12-01 18:00:00,ottawa (canada),on,ca,light,120.0,2 minutes,8 lights in the sky.,1/16/2014,45.416667,-75.700000
10330,2013-11-17 20:00:00,burlington (canada),on,ca,light,600.0,~10 minutes,Two amber lights appearing intermittently; one...,11/20/2013,43.316667,-79.800000
9029,2013-11-13 18:00:00,orangeville (canada),on,ca,light,2940.0,49 minutes,Brite light in night sky not from this planet ...,11/20/2013,43.916667,-80.083333
8065,2013-11-11 17:00:00,ponoka (canada),ab,ca,light,3600.0,>1 hour,Bright light&#44 watched for an hour&#44 watch...,11/20/2013,52.683333,-113.566667
5199,2013-10-28 20:30:00,pierrefonds (canada),qc,ca,light,1200.0,>20 minutes,7 UFOs.,11/11/2013,45.466667,-73.883333
4971,2013-10-27 02:45:00,hamilton (canada),on,ca,light,60.0,~1 minute,Metallic light appears&#44 changes direction a...,11/11/2013,43.25,-79.833333
4405,2013-10-24 19:10:00,west vancouver (canada),bc,ca,light,600.0,10 minutes,Solid white light over Vancouver BC moving due...,11/11/2013,49.25,-123.133333
3063,2013-10-19 20:05:00,riverview (canada),nb,ca,light,1200.0,15-20 minutes,Slow-moving red/orange lights.,10/23/2013,46.05,-64.810000
2858,2013-10-18 19:30:00,victoria (canada),bc,ca,light,600.0,10 minutes,3 orange lights seen moving in the sky,10/23/2013,46.216667,-63.483333
1696,2013-10-14 19:30:00,toronto (canada),on,ca,light,1200.0,15-20 minutes,8 Red Orb Lights over large City of Toronto.,10/23/2013,43.666667,-79.416667
1470,2013-10-13 21:30:00,regina (canada),sk,ca,light,20.0,20 seconds,Four red lights in sky&#44 that faded and disa...,10/14/2013,50.45,-104.616667
476,2013-10-11 22:18:00,windsor (canada),on,ca,light,300.0,3-5 minutes,5 orange lights seen in sky over windsor.,10/14/2013,45.583333,-72.000000
272,2013-10-10 19:15:00,harvey station (canada),nb,ca,light,120.0,2 minutes,Slow moving bright orange light.,10/23/2013,45.716667,-67.000000
270,2013-10-10 17:10:00,ottawa (canada),on,ca,light,10.0,10 seconds,FATHER: My name is Eldon Trepanier&#44 and I ...,10/14/2013,45.416667,-75.700000
77722,2013-09-25 09:00:00,kingston (canada),on,ca,light,300.0,5 minutes,Unknown Objects Seen Over Easter Ontario_2013.,11/11/2013,44.2333,-76.483333
77721,2013-09-25 05:55:00,mississauga (canada),on,ca,light,15.0,15 seconds,A dim orange light.,9/30/2013,43.15,-79.500000
75657,2013-09-18 21:00:00,montreal (canada),qc,ca,light,10800.0,3 hours,Strange lights in the sky over Montreal QC Can...,9/30/2013,45.5,-73.583333
75222,2013-09-16 17:45:00,vernon (outside of) (canada),bc,ca,light,120.0,<2 minutes,Two bright lights moving rapidly and erratical...,9/30/2013,46.1833,-62.883333
75032,2013-09-15 20:40:00,peterborough (canada),on,ca,light,2700.0,45 minutes,BRIGHT white light low in the sky.,2/21/2014,44.3,-78.333333
73762,2013-09-01 03:00:00,toronto (canada),on,ca,light,240.0,04:00,Bright White Light over eastern Toronto.,9/9/2013,43.6667,-79.416667
71034,2013-08-31 21:20:00,bowmanville (canada),on,ca,light,120.0,2 minutes,Bright yellowish-orange light - cobourg ont,9/9/2013,43.9,-78.683333
70536,2013-08-29 21:00:00,gatineau (canada),qc,ca,light,2.0,a few seconds,Very bright object flies straight up and disap...,8/30/2013,45.4833,-75.650000
69419,2013-08-24 23:55:00,peterborough (canada),on,ca,light,45.0,45 seconds,Silent Orange Lights over Peterborough.,9/9/2013,44.3,-78.333333
...,...,...,...,...,...,...,...,...,...,...,...
69189,1995-08-24 23:00:00,algonquin park (canada),on,ca,light,1200.0,20 minutes,My first actually sighting of ufo was in Canad...,7/26/2002,45.55,-78.600000
68962,1995-08-23 01:30:00,london (canada),on,ca,light,180.0,2-3 minutes,Small red and white light travelling in odd di...,7/26/2002,42.9833,-81.250000
58239,1995-07-20 00:30:00,waterloo (canada),on,ca,light,10.0,10 seconds,Three distinctive illuminated lines hover abov...,12/2/2000,45.35,-72.516667
61214,1995-07-03 22:00:00,penticton (canada),bc,ca,light,300.0,5 minutes,Darting lights high over Penticton BC,11/28/2007,49.5,-119.583333
50591,1995-06-21 22:40:00,burlington (canada),on,ca,light,300.0,5min,We could not explain it &#33&#33,3/23/2004,43.316667,-79.800000
79484,1994-09-06 02:00:00,brantford (canada),on,ca,light,10.0,10 weconds,strange light that flashed,10/27/2004,43.1333,-80.266667
64920,1994-08-01 00:30:00,georgetown (canada),on,ca,light,20.0,20 seconds,high bright red light fast moving,7/4/2012,46.183333,-62.533333
56799,1994-07-15 23:30:00,prince george (canada),bc,ca,light,120.0,minutes/ twice,I was a tree planter going from Prince George ...,4/28/2001,53.916667,-122.766667
42410,1994-05-15 22:00:00,saskatoon (canada),sk,ca,light,7200.0,2 hours,streams of light and triangular lights seen ov...,10/31/2003,52.133333,-106.666667
30587,1991-03-01 22:00:00,welland (canada),on,ca,light,180.0,3 mins,A light winding down to the ground,2/18/2001,42.983333,-79.250000
64162,1990-08-10 22:00:00,cavendish (canada),pe,ca,light,420.0,5-7 minutes,one light became three and moved down to the o...,12/7/2006,47.716667,-53.500000
57733,1990-07-18 07:00:00,red deer (canada),ab,ca,light,20.0,approx; 20 seconds,HBCCUFO CANADIAN REPORT: Object traveled back...,3/17/2004,52.266667,-113.800000
50305,1990-06-20 14:30:00,longueuil (canada),pq,ca,light,300.0,5 minutes,En cette ann&eacute;e je demeur&eacute; avec m...,9/9/2003,45.533333,-73.516667
14690,1990-01-15 22:00:00,sydney (canada),ns,ca,light,60.0,maby 1 minute?,Light overhead in Sydney Nova Scotia,8/28/2002,46.15,-60.166667
16322,1987-11-09 19:50:00,nepean (canada),on,ca,light,600.0,10 minutes,4 spheres approaching 2 people&#44 turning a r...,6/21/2000,45.3466667,-75.770000
66347,1987-08-15 22:00:00,saskatoon (canada),sa,ca,light,1200.0,20 minutes,I used to sit on our deck&#44on summer evening...,12/2/2000,52.1333,-106.666667
56726,1986-07-15 21:30:00,elmvale (canada),on,ca,light,1200.0,20 min.,Flew with purpose as if it were pre-programmed,10/8/2007,44.583333,-79.866667
71543,1985-08-05 00:00:00,houston (canada),bc,ca,light,30.0,approx: 30 seconds,HBCCUFO CANADIAN REPORT: It split into two ba...,3/17/2004,54.4,-126.650000
74623,1982-09-15 02:00:00,richmond (canada),bc,ca,light,2400.0,30-40 min,Light witnessed first on ground or o horison m...,12/2/2000,45.6667,-72.150000
66305,1982-08-15 23:00:00,toronto (canada),on,ca,light,5.0,5 seconds,green light&#44 toronto canada,5/2/2003,43.6667,-79.416667
64139,1980-08-10 02:30:00,edmonton (canada),ab,ca,light,300.0,5 minutes,Object seen manuvering around the area of Nama...,5/24/2005,53.55,-113.500000
56669,1978-07-15 22:30:00,regina (canada),sk,ca,light,240.0,3-4 minutes,Stationary Lights which then separated and dis...,4/27/2007,50.45,-104.616667
56658,1978-07-15 01:00:00,st. albert (canada),ab,ca,light,1200.0,20 minutes,This event happened many years ago; however&#4...,8/11/2004,53.633333,-113.633333
47205,1977-06-01 03:00:00,nanaimo (canada),bc,ca,light,900.0,5-15 min,looked out of a window and saw 5 flashing ligh...,12/2/2000,49.15,-123.916667
47146,1975-06-01 20:00:00,surrey (canada),bc,ca,light,120.0,2 minutes,Date and time is an estimate. I was 15 years o...,4/28/2001,49.136353351,-122.821343
36798,1973-04-15 21:30:00,cold lake (canada),ab,ca,light,10800.0,3hrs,Strange lights,5/15/2006,54.465,-110.183056
76808,1970-09-22 01:30:00,whitby (canada),on,ca,light,120.0,2 minutes,Whitby Ontario Canada 1:30 am saw a flashing l...,5/13/2012,43.8667,-78.933333
31462,1970-03-15 22:00:00,castlegar (canada),bc,ca,light,180.0,2-3 minutes,HBCCUFO CANADIAN REPORT: At least seven&#44 e...,3/17/2004,49.316667,-117.666667
48661,1966-06-15 21:00:00,edmonton (canada),ab,ca,light,600.0,10 minutes,Observation in late evening of UFO performing ...,4/16/2005,53.55,-113.500000
68720,1962-08-22 20:00:00,charlottetown (canada),pe,ca,light,180.0,3 minutes,Speeding light from horizon stopping and turni...,8/7/2007,46.2333,-63.133333

In [13]:
# La forma con mayor cantidad de registros en Los Angeles, CA es la forma de triangulo
df.loc[(df['state'] == 'ca') & (df['country'] == 'us') & (df['city'] == 'los angeles')].groupby('shape').count().sort_values(by='datetime', ascending=False)

,datetime,city,state,country,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
shape,,,,,,,,,,
light,63,63,63,63,63,63,63,63,63,63
circle,36,36,36,36,36,36,36,36,36,36
triangle,30,30,30,30,30,30,30,30,30,30
disk,29,29,29,29,29,29,29,29,29,29
fireball,29,29,29,29,29,29,29,29,29,29
unknown,26,26,26,26,26,26,26,26,26,26
sphere,25,25,25,25,25,25,25,25,25,25
other,21,21,21,21,21,21,21,21,21,21
cigar,16,16,16,16,16,16,16,16,16,16
oval,16,16,16,16,16,16,16,16,16,16
changing,13,13,13,13,13,13,13,13,13,13
formation,11,11,11,11,11,11,11,11,11,11
chevron,5,5,5,5,5,5,5,5,5,5
egg,5,5,5,5,5,5,5,5,5,5
rectangle,5,5,5,5,5,5,5,5,5,5
flash,5,5,5,5,5,5,5,5,5,5
diamond,4,4,4,4,4,4,4,4,4,4
teardrop,4,4,4,4,4,4,4,4,4,4
cone,3,3,3,3,3,3,3,3,3,3
cylinder,1,1,1,1,1,1,1,1,1,1

In [14]:
# La forma con mayor cantidad de registros en Los Angeles, CA es la forma de triangulo
df.loc[(df['state'] == 'dc') & (df['country'] == 'us')].groupby('shape').count().sort_values(by='datetime', ascending=False)

,datetime,city,state,country,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
shape,,,,,,,,,,
changing,1,1,1,1,1,1,1,1,1,1
cylinder,1,1,1,1,1,1,1,1,1,1
disk,1,1,1,1,1,1,1,1,1,1
fireball,1,1,1,1,1,1,1,1,1,1
light,1,1,1,1,1,1,1,1,1,1
other,1,1,1,1,1,1,1,1,1,1
sphere,1,1,1,1,1,1,1,1,1,1

In [15]:
df.loc[(df['country'] == 'us')]['state'].value_counts()

ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
ga    1255
nj    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
Name: state, dtype: int64

In [16]:
# Existen 2184 registros de avistajes en Estados Unidos durante el año 2000. 
df.loc[(df['country'] == 'us') & (df['datetime'].dt.year == 2000)].count()

datetime                2184
city                    2184
state                   2184
country                 2184
shape                   2149
duration (seconds)      2184
duration (hours/min)    2184
comments                2184
date posted             2184
latitude                2184
longitude               2184
dtype: int64

In [17]:
df['country'].value_counts()

us    65114
ca     3000
gb     1905
au      538
de      105
Name: country, dtype: int64

In [18]:
df.groupby('shape')['duration (seconds)'].mean().sort_values(ascending=False)

shape
cone         82827.405063
sphere       21787.298238
other        20634.210977
crescent     18905.000000
light        13170.345373
unknown       5546.723104
flash         5330.289421
circle        4767.466062
fireball      4023.941484
oval          3898.586311
changed       3600.000000
cylinder      3426.512471
delta         2307.857143
changing      2079.513405
cigar         1917.106830
egg           1886.793281
triangle      1664.266397
disk          1460.431677
diamond       1413.628625
formation     1254.048547
teardrop       942.946000
cross          748.519313
rectangle      683.183346
chevron        460.317174
round          452.500000
hexagon        240.000000
pyramid        120.000000
flare           30.000000
dome             2.000000
Name: duration (seconds), dtype: float64

In [19]:
df.groupby('country').count()

,datetime,city,state,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
country,,,,,,,,,,
au,538,538,10,527,538,538,538,538,538,538
ca,3000,3000,2985,2955,3000,3000,3000,3000,3000,3000
de,105,105,0,103,105,105,105,105,105,105
gb,1905,1905,12,1855,1905,1905,1905,1905,1905,1905
us,65114,65114,65114,63561,65114,65114,65101,65114,65114,65114

In [20]:
df.loc[df['country'] == 'us'].groupby('state')['city'].count().sort_values(ascending=False)

state
ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
nj    1255
ga    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
Name: city, dtype: int64

In [21]:
df.groupby('country')['duration (seconds)'].mean().sort_values(ascending=False)

country
gb    66061.321207
ca    28859.437007
de    24255.980952
us     5800.014047
au     3806.469238
Name: duration (seconds), dtype: float64

In [23]:
df.loc[(df['shape'] == 'fireball') | (df['shape'] == 'egg')].groupby('shape')['duration (seconds)'].mean()

shape
egg         1886.793281
fireball    4023.941484
Name: duration (seconds), dtype: float64